{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    
    {% if items | length > 0 %}
    
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                
                    <tr>
                        <td>{{ item.product.brand }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total : </td>
                    <td>{{ total }}</td>
                    <td>
                        <a href="{{ path('user_login') }}" class="btn btn-danger btn-sm">Valider</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Votre panier est vide !</p>
        
    {% endif %}
        
            
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">UPS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">La Poste</label>
      </div> -->
        
     <div class="input-group mb-3" id="delivery">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Livraison</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            {% for company in companies %}
            <option value="1">{{ company.name }}</option>
                
            {% endfor %}
          
          
          
        </select>
      </div> 

      

{% endblock %}
