{% extends 'base.html.twig' %}

{% block title %}Hello MaleCatalogueController!{% endblock %}

{% block body %}


<div class="maleWatch container">
    <h1>Montres homme</h1>
    <div class="row">
    {% for watch in watches %}
    <div class="col-12 col-lg-4">
        <div class="card watch mb-4">
            <div class="card-body head">
                <p class="card-title">À partir de {{ watch.price }} € / jour</p>
                <ul class="cardNav">
                    <li>
                        <a href="#">
                            <i class="far fa-2x fa-heart" style="color:black"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('cart_add', {'id': watch.id}) }}">
                            <i class="fas fa-2x fa-cart-arrow-down" style="color:black"></i>
                        </a>
                    </li>
                </ul>
            </div>

            {% set picture = ( watch.pictures.0.name matches '/^http/' ) ? watch.pictures.0.name : asset( 'uploads/' ~ watch.pictures.0.name ) %}
            <div class="card-img-top" style="background-image: url('{{ picture }}');">

            </div>
            <div class="card-body bottom">
                <h3 class="card-title">{{ watch.brand }}</h3>
                <h4 class="card-title">{{ watch.model }}</h4>
                <p class="card-text">{{ watch.movement }} - {{ watch.diameter }}mm - {{ watch.waterproof }}m</p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

</div>


{% endblock %}