{% extends 'base.html.twig' %}

{% block title %} Ma sélection - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">

    <!-- Nom & Modèle de la montre -->
    <h1 class="h1-show">{{ watch.brand }}</h1> 
    <hr>       
    <h2>{{ watch.model }}</h2>

    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            {% set picture = ( watch.pictures.0.name matches '/^http/' ) ? watch.pictures.0.name : asset( 'uploads/' ~ watch.pictures.0.name ) %}
            <img src="{{ picture }}" class="d-block w-100" alt="visuel montre 1">
          </div>
          <div class="carousel-item">
            {% set picture = ( watch.pictures.1.name matches '/^http/' ) ? watch.pictures.1.name : asset( 'uploads/' ~ watch.pictures.1.name ) %}
            <img src="{{ picture }}" class="d-block w-100" alt="Visuel montre 2">
          </div>
          <div class="carousel-item">
            {% set picture = ( watch.pictures.2.name matches '/^http/' ) ? watch.pictures.2.name : asset( 'uploads/' ~ watch.pictures.2.name ) %}
            <img src="{{ picture }}" class="d-block w-100" alt="Visuel montre 3">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <!-- Favicon panier & favoris -->
    <ul class="cardNav">
      <li>
          <a href="#"><i class="far fa-2x fa-heart" style="color:black"></i></a>
      </li>
      <li>
          <a href="{{ path('cart_add', {'id': watch.id}) }}"><i class="fas fa-2x fa-cart-arrow-down" style="color:black"></i></a>
      </li>
    </ul>

    <hr class="souscarousel">

    <!-- Calendrier, infos & Bouton "ajouter au panier" -->
    <p class="textresa">INDIQUER LA DURÉE DE RÉSERVATION SOUHAITÉE</p>
    
      <!-- <div class="calendar">
        <div class="dateresa">Date de début de location</div>
        <input type="date" class="form-control" value="now">

        <div class="dateresa">Date de retour du produit</div>
        <input type="date" class="form-control" value="now">
      </div> -->     

      <form name="daterange" action="{{ path('cart_add', {'id': watch.id}) }}" method="post">
        <input id='daterange' type="dd/MMMM/y" name="daterange" value="daterange" />
        <button id='btn' type="submit" name="daterange" value="daterange" class="btn-link">Suce mon panier</button>
      </form>
    
    <!-- Caractéristiques produit -->
    <p class="price">à partir de <b>{{ watch.price }}€</b> / jour</p>
    
   
    <p class="caract">CARACTÉRISTIQUES</p>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">MARQUE</th>
            <td>{{ watch.brand }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">RÉFÉRENCE</th>
            <td>{{ watch.model }}</td>
          </tr>        
        </tbody>
        <thead>
          <tr>
            <th scope="col">GENRE</th>
            <td>{{ watch.gender }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">MOUVEMENT</th>
            <td>{{ watch.movement }}</td>
          </tr>        
        </tbody>
        <thead>
          <tr>
            <th scope="col">DIAMÈTRE</th>
            <td>{{ watch.diameter }}mm</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">ETANCHÉITÉ</th>
            <td>{{ watch.waterproof }}m</td>
          </tr>        
        </tbody>
        <thead>
          <tr>
            <th scope="col">VERRE</th>
            <td>{{ watch.glass }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">FONCTIONS</th>
            <td>{{ watch.function }}</td>
          </tr>        
        </tbody>
        <thead>
          <tr>
            <th scope="col">BOITIER</th>
            <td>{{ watch.watchDial }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">BRACELET</th>
            <td>{{ watch.bracelet }}</td>
          </tr>        
        </tbody>
        <thead>
          <tr>
            <th scope="col">FERMOIR</th>
            <td>{{ watch.watchClasps }}</td>
          </tr>
          <tbody>
          <tr>
            <th scope="col">DISPONIBILITÉ</th>
            <td>En Stock</td>
          </tr>        
        </tbody>
        </thead>      
  </table>
  <hr class="low">
</div>      
{% endblock %}