{% extends 'base.html.twig' %}

{% block title %} SERVICE CLIENT - CONTACTEZ-NOUS {{ parent() }}{% endblock %}


{% block body %}

<div id="contactForm" class="container mt-4">

  <h1>CONTACTEZ-NOUS</h1>

  <p class="infosupp">Si vous souhaitez obtenir des informations complémentaires ou autre, n'hésitez pas à nous
    contacter via le formulaire ci-dessous. Nous vous répondrons dans les plus bref délais.</p>

  {{ form_start(form) }}
  <div class="row">
    <div class="col">{{ form_row(form.lastname) }}</div>
    <div class="col">{{ form_row(form.firstname) }}</div>
  </div>
  <div class="row">
    <div class="col">{{ form_row(form.phone) }}</div>
    <div class="col">{{ form_row(form.email) }}</div>
  </div>
  {{ form_rest(form) }}

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
  
  {{ form_end(form) }}
</div>

{% endblock %}