<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}LWR{% endblock %}</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
        
        <link  rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
        
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        
        
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{ path('homepage') }}">
             <img src="{{ asset('build/images/logo.png') }}" alt="Logo de LWR">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent" style="justify-content: flex-end">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle categories" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Catégories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{{ path('male_catalogue') }}">Homme</a>
                          <a class="dropdown-item" href="{{ path('female_catalogue') }}">Femme</a>
                        </div></li>
                    {# <li class="nav-item">
                        <a class="nav-link" href="#">Mon compte</span></a>
                    </li>  #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart_index') }}">Mon panier</i></a>
                    </li>

                    {% if app.user is empty %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_login') }}">Connexion/Inscription</a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle categories" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{{ path('account') }}">Page compte</a>
                          <a  class="dropdown-item" href="{{ path('user_logout') }}" class="btn btn-dark">Déconnexion</a>
                        </div>
                    </li>                        
                    {% endif %}
                   
                </ul>
                    {# <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form> #}
                
            </div>
        </nav>
        
        <div class="toaster">
            {% for label, messages in app.flashes %}
               {% for message in messages %}
                   <div class="alert alert-{{ label }} alert-dismissible fade show">
                       {{ message }}
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
               {% endfor %}
            {% endfor %}
       </div>
    </header>
    
    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <img src="{{ asset("/build/images/DeliveryFooter.png") }}" class="pictofooter" alt="Logo LWR">
        <ul class="navbar-nav mr-auto contacts">
            <li class="nav-item">
                <a class="nav-link" href="#">Qui sommes nous ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nous contacter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Condition de location et garantie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
        </ul>
        <div id="socials">
            <div><a href=""><i class="fab fa-facebook-f"></i></a></div>
            <div><a href=""><i class="fab fa-instagram"></i></a></div>
            <div><a href=""><i class="fab fa-twitter"></i></a></div>
        </div>
        <div id="copyright">
            <p>© 2020 Luxury Watch Rental</p>
        </div>
    </footer>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <script  type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js" ></script>
        <script  type="text/javascript"src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script  type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>

{# {{ encore_entry_link_tags('app') }} #}


