{% extends 'base.html.twig' %}

{% block title %}Mentions légales et politique de confidentialité - {{ parent() }}{% endblock %}

{% block body %}

<div>
    <div id="mentionsLegales" class="index-content">

        <img src="{{ asset('build/images/mention1.jpg') }}" alt="Mentions Legales" style="width: 70%;">
        <img src="{{ asset('build/images/mention2.jpg') }}" alt="Mentions Legales" style="width: 70%;">
        <img src="{{ asset('build/images/mention3.jpg') }}" alt="Mentions Legales" style="width: 70%;">
        <img src="{{ asset('build/images/mention4.jpg') }}" alt="Mentions Legales" style="width: 70%;">
        <img src="{{ asset('build/images/mention5.jpg') }}" alt="Mentions Legales" style="width: 70%;">

    </div>
</div>

{% endblock %}